<section>
  <h1 id="city"><%= @title %></h1>
</section>

<footer>
  <p>
    Powered by <a href="http://flickr.com/services/api/">Flickr</a>
    and <a href="http://openweathermap.org">Openweathermap.org</a>. 
    Created by <%= @author %>.
    <a id="image-source" href="#">Image source</a>.
  </p>
</footer>
